# Sorenson Workstation Data Modeling
As a data analyst, I've come to understand the profound impact that effective data modeling can have on business operations. As Serge Gershkovich eloquently stated, "A model is not simply the shape that data takes once uploaded to a database, but rather, the blueprint for business operations." With this guiding principle in mind, I'm excited to embark on a new project that harnesses the power of data modeling to drive insights and decision-making.

Our project revolves around a rich dataset spanning the years 1980 to 1996, capturing the sales of computer workstations. Sourced from the Dartmouth College repository (http://five.dartmouth.edu/datasets), this dataset presents a wealth of opportunities for analysis and interpretation.

# Primary objective:
My primary goal is to craft a robust dimensional data model, utilizing both star and snowflake schema methodologies. By structuring our data in this manner, I aim to facilitate efficient querying and analysis, empowering stakeholders to extract actionable insights effortlessly.

# Secondary objective:
In addition to our primary goal, I'm also focusing on building a basic data transformation pipeline tailored for analytics. Recognizing the importance of streamlined data processing, this pipeline will ensure that raw data is refined and prepared for analysis in a timely and efficient manner.

# Method:
Furthermore, I've chosen to embrace the Kimball method as our preferred approach, opting to depart from traditional OLAP techniques in favor of a methodology that prioritizes simplicity, flexibility, and user accessibility.

Why this emphasis on data transformation? Because poorly modeled data can lead to long and expensive queries, impeding decision-making processes and hindering organizational progress. By investing in a robust data modeling strategy and implementing an effective transformation pipeline, I aim to mitigate these risks and unlock the true potential of our data.

In [1]:
# techs used - duckdb for a local dummy database
# columnar database
import duckdb
import timeit
import pandas as pd

In [2]:
### DDL to instantiate database ###

# create initial database connection (and instantiate database if it doesn't exist already) 
con = duckdb.connect('dim-model.db')

In [3]:
# create two separate schemas
con.sql("""
CREATE SCHEMA IF NOT EXISTS snow;
CREATE SCHEMA IF NOT EXISTS star;
""")

In [4]:
# create a table using the initial data - auto create columns based on information
sql = """
CREATE OR REPLACE TABLE raw_companies AS
SELECT * FROM read_csv_auto('SorensonworkfirmFIVEdata.csv')
"""
con.sql(sql)

In [5]:
# display the raw_companies table
con.table('raw_companies')

┌───────┬──────────────────────┬────────────┬────────┬───────────────┬───┬───────┬─────────┬───────┬────────┬───────┐
│ YEAR  │       FIRMNAME       │ FIVEFIRMID │ FIRMID │ CUSIPHEADERID │ … │ COMM  │ MONITOR │ DISK  │ MEMORY │ BOARD │
│ int64 │       varchar        │   int64    │ int64  │    varchar    │   │ int64 │  int64  │ int64 │ int64  │ int64 │
├───────┼──────────────────────┼────────────┼────────┼───────────────┼───┼───────┼─────────┼───────┼────────┼───────┤
│  1987 │ Accent Systems Corp. │          1 │      1 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1982 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1983 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1984 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1985 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1986 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1987 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1988 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1989 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1990 │ Adage, Inc.          │          2 │      2 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│    ·  │      ·               │          · │      · │  ·            │ · │     · │       · │     · │      · │     · │
│    ·  │      ·               │          · │      · │  ·            │ · │     · │       · │     · │      · │     · │
│    ·  │      ·               │          · │      · │  ·            │ · │     · │       · │     · │      · │     · │
│  1990 │ Zuken, Inc.          │        173 │    173 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1991 │ Zuken, Inc.          │        173 │    173 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1992 │ Zuken, Inc.          │        173 │    173 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1993 │ Zuken, Inc.          │        173 │    173 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1982 │ Florida Computer G…  │        174 │    174 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1983 │ Florida Computer G…  │        174 │    174 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1984 │ Florida Computer G…  │        174 │    174 │ NULL          │ … │     0 │       0 │     0 │      0 │     0 │
│  1983 │ Orcatech             │        175 │    175 │ NULL          │ … │     1 │       0 │     0 │      0 │     0 │
│  1984 │ Orcatech             │        175 │    175 │ NULL          │ … │     1 │       0 │     0 │      0 │     0 │
│  1985 │ Orcatech             │        175 │    175 │ NULL          │ … │     1 │       0 │     0 │      0 │     0 │
├───────┴──────────────────────┴────────────┴────────┴───────────────┴───┴───────┴─────────┴───────┴────────┴───────┤
│ 682 rows (20 shown)                                                                         31 columns (10 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [6]:
# verify initial data types
sql = """
DESCRIBE raw_companies;
"""

initial_cols_dict = {col[0]:col[1] for col in con.sql(sql).fetchall()}

In [7]:
# print the initial columns dictionary
initial_cols_dict

{'YEAR': 'BIGINT',
 'FIRMNAME': 'VARCHAR',
 'FIVEFIRMID': 'BIGINT',
 'FIRMID': 'BIGINT',
 'CUSIPHEADERID': 'VARCHAR',
 'CUSIPHeaderName': 'VARCHAR',
 'CUSIPHISTORYID': 'VARCHAR',
 'CUSIPHistoryName': 'VARCHAR',
 'FOUND': 'BIGINT',
 'FATE': 'VARCHAR',
 'ESTATE': 'BIGINT',
 'SALES': 'DOUBLE',
 'EMPLOY': 'DOUBLE',
 'ZIP': 'BIGINT',
 'LAT': 'DOUBLE',
 'LON': 'DOUBLE',
 'RANDD': 'BIGINT',
 'PRODUCTS': 'BIGINT',
 'PTYPES': 'BIGINT',
 'SYSTEM': 'BIGINT',
 'GRAPHIC': 'BIGINT',
 'CEO': 'VARCHAR',
 'OWN': 'BIGINT',
 'CPU': 'BIGINT',
 'OS': 'BIGINT',
 'APPS': 'BIGINT',
 'COMM': 'BIGINT',
 'MONITOR': 'BIGINT',
 'DISK': 'BIGINT',
 'MEMORY': 'BIGINT',
 'BOARD': 'BIGINT'}

## A snowflake data model

Steps of Kimball dimensional modeling:

1. Select the business process
2. Declare the grain
3. Identify the dimensions
4. Identify the facts

![](snow.png)

In [8]:
# check lat/long/zip data columns
con.sql('SELECT DISTINCT lat, lon, zip FROM raw_companies')

┌───────────────────┬───────────────────┬───────┐
│        LAT        │        LON        │  ZIP  │
│      double       │      double       │ int64 │
├───────────────────┼───────────────────┼───────┤
│ 0.705875992774963 │ -1.39546799659729 │ 15213 │
│  0.74406099319458 │ -1.24499404430389 │  1851 │
│ 0.574072003364563 │ -2.04558706283569 │ 92121 │
│ 0.742465019226074 │ -1.24769496917725 │  1460 │
│ 0.743335008621216 │ -1.24683105945587 │  1886 │
│ 0.590389013290405 │ -2.06493091583252 │ 90501 │
│ 0.531078994274139 │ -1.47060298919678 │ 32301 │
│ 0.743398010730743 │  -1.2454240322113 │  1824 │
│ 0.655035972595215 │ -2.12879991531372 │ 94538 │
│ 0.578755021095276 │ -2.04770708084106 │ 92008 │
│          ·        │         ·         │    ·  │
│          ·        │         ·         │    ·  │
│          ·        │         ·         │    ·  │
│  0.73657500743866 │ -1.24679398536682 │  1746 │
│ 0.734311997890472 │ -1.53622198104858 │ 60008 │
│  0.70123702287674 │ -1.83435499668121 │ 80501 │
│ 0.651730000972748 │ -2.12721490859985 │ 95112 │
│ 0.591771006584168 │ -1.46928703784943 │ 30093 │
│ 0.738604009151459 │  -1.2425320148468 │  2159 │
│ 0.741008996963501 │ -1.24572396278381 │  1742 │
│ 0.653389990329742 │ -2.12743210792542 │ 95035 │
│ 0.596495985984802 │ -2.07023811340332 │ 91367 │
│ 0.717025995254517 │ -1.28358101844788 │  6904 │
├───────────────────┴───────────────────┴───────┤
│ 156 rows (20 shown)                 3 columns │
└───────────────────────────────────────────────┘

In [9]:
### INITIAL DATA CLEANSING ###

# change column zip to type varchar
sql = """
ALTER TABLE raw_companies ALTER COLUMN zip SET DATA TYPE VARCHAR;
"""

# ensure leading 0's present in zip
sql += """
UPDATE raw_companies
SET zip = RIGHT('000' || zip, 5);
""" 

# convert lat/long variables to degrees from radians
sql += f"""
UPDATE raw_companies
SET lat = DEGREES(lat), lon = DEGREES(lon);
"""

con.sql(sql)

In [10]:
# display the results of cleansing
con.sql('SELECT DISTINCT lat, lon, zip FROM raw_companies')

┌────────────────────┬─────────────────────┬─────────┐
│        LAT         │         LON         │   ZIP   │
│       double       │       double        │ varchar │
├────────────────────┼─────────────────────┼─────────┤
│ 40.443715245612374 │  -79.95442665060105 │ 15213   │
│ 42.540112037753566 │  -71.48765585356176 │ 01460   │
│ 33.826798732433275 │ -118.31182646328722 │ 90501   │
│  34.23130644074354 │ -119.04630402549516 │ 93010   │
│ 30.428584959960574 │  -84.25934462029849 │ 32301   │
│  37.53079665895287 │ -121.97125057528321 │ 94538   │
│  33.16022008076424 │ -117.32497341124682 │ 92008   │
│  42.46344999450934 │  -82.90069022078883 │ 48080   │
│ 33.027864675027736 │ -117.08558894121654 │ 92127   │
│   42.3824917622772 │  -71.23653028834754 │ 02154   │
│           ·        │           ·         │   ·     │
│           ·        │           ·         │   ·     │
│           ·        │           ·         │   ·     │
│ 39.021461539646026 │   -77.3986313348846 │ 22170   │
│  33.60025160294771 │ -117.70850219352162 │ 92653   │
│ 37.436488821987886 │ -121.89288098474681 │ 95035   │
│ 45.144606602252026 │ -122.85831456354957 │ 97077   │
│  40.46422630368992 │  -79.94543129146405 │ 15224   │
│ 37.720447106542046 │ -122.15867096610819 │ 94577   │
│  42.75640363820038 │  -71.46674181432287 │ 03060   │
│  42.86669753291775 │  -71.51274996857242 │ 03054   │
│  28.75234042442356 │   -81.3380658820948 │ 32746   │
│   33.8109834294101 │ -118.21500170161322 │ 90810   │
├────────────────────┴─────────────────────┴─────────┤
│ 156 rows (20 shown)                      3 columns │
└────────────────────────────────────────────────────┘

In [11]:
# set schema
# templated sql - DRY
schema = 'snow'

In [12]:
# create compustat dimension
# MD5 hash as keys vs ordered int
# surrogate vs. natural keys
# primary keys (collisions)
sql = f"""


CREATE OR REPLACE TABLE {schema}.compustat (
    cusip_id VARCHAR,
    cusip_name VARCHAR,
    cusip_historical_id VARCHAR,
    cusip_historical_name VARCHAR,
    PRIMARY KEY (cusip_id)
);

"""

sql += f"""
INSERT INTO {schema}.compustat (cusip_id, cusip_name, cusip_historical_id, cusip_historical_name)
WITH cid AS (
    SELECT DISTINCT
        CUSIPHEADERID AS cusip_id,
        CUSIPHEADERNAME AS cusip_name,
        CUSIPHISTORYID AS cusip_historical_id,
        CUSIPHISTORYNAME AS cusip_historical_name
    FROM
        raw_companies
)
SELECT
    MD5(COALESCE(cusip_id || cusip_name || cusip_historical_id || cusip_historical_name, '-1')) AS cusip_id, --1 added for nulls
    cusip_name,
    cusip_historical_id,
    cusip_historical_name
FROM
    cid;
"""

con.sql(sql)

In [13]:
# display the head of the snow.compustat table
con.sql('select * from snow.compustat limit 5')

┌──────────────────────────────────┬─────────────────────────────┬─────────────────────┬───────────────────────────┐
│             cusip_id             │         cusip_name          │ cusip_historical_id │   cusip_historical_name   │
│             varchar              │           varchar           │       varchar       │          varchar          │
├──────────────────────────────────┼─────────────────────────────┼─────────────────────┼───────────────────────────┤
│ 94af45e233e4d5f91cc562c17ef0f2e6 │ APOLLO COMPUTER INC         │ 3790410             │ APOLLO COMPUTER INC       │
│ ee32ebbae037a9ffaf5a4d7681e32414 │ AUTO-TROL TECHNOLOGY CORP   │ 5275410             │ AUTO-TROL TECHNOLOGY CORP │
│ c1ab7ceff2b8979a731e9ff6a8a7c9f5 │ AYDIN CORP                  │ 5468110             │ AYDIN CORP                │
│ 4f019ba669ea4833fdb0d951f855eda3 │ CADNETIX CORP               │ 12759010            │ CADNETIX CORP             │
│ ddda16d2d6741556439f68b2b5ec7617 │ AMERIQUEST TECHNOLOGIES INC │ 12589740            │ C M S ENHANCEMENTS INC    │
└──────────────────────────────────┴─────────────────────────────┴─────────────────────┴───────────────────────────┘

In [14]:
# create ceo dimension
# naming conventions
# joining on strings vs. others
sql = f"""

CREATE OR REPLACE TABLE {schema}.ceos (
    ceo_id VARCHAR,
    ceo_name VARCHAR,
    PRIMARY KEY (ceo_id)
);

"""

sql += f"""

INSERT INTO {schema}.ceos (ceo_id, ceo_name)

SELECT DISTINCT
    MD5(COALESCE(ceo, '-1')) AS ceo_id,
    ceo AS ceo_name
FROM
    raw_companies;

"""

con.sql(sql)

In [15]:
# display the snow.ceos table
con.table('snow.ceos')

┌──────────────────────────────────┬───────────────────────┐
│              ceo_id              │       ceo_name        │
│             varchar              │        varchar        │
├──────────────────────────────────┼───────────────────────┤
│ c35bc6945e2054750eb18ed6b9fed71a │ Kelly T. Hickel       │
│ f058b6eb7f7202e7fa1ee269a287a67c │ William T. Mason      │
│ e40fabee5589c9be667f61dd1d299af4 │ Dick Wauk             │
│ f30900f5f0907fcb2a46bc4e5a267fda │ Thomas J. Goliash     │
│ 04244f82d9e865b19061a47f35cc5ad7 │ Ronald Gruner         │
│ d259b6064c2b1f1dfe67ea7449606e14 │ Craig J. Mundie       │
│ fad7f43d9fa01027796bd56bda4a9a2e │ Robert Bruce          │
│ c8099fe7c4782d51be8495e08542d938 │ Charles P. Spector    │
│ 0bd712a991f0356000fb0d2f482c5e71 │ Thomas A. Vanderslice │
│ 47600976a8997349959fa69b00d27297 │ Lawrence T. Kou       │
│                ·                 │       ·               │
│                ·                 │       ·               │
│                ·                 │       ·               │
│ 37bbc5c04ca06f5dfcff0910013cee16 │ William Walker        │
│ 67637e4ee27eca52b17c771a0f39a08a │ Delbert Yocam         │
│ de50b3d0bb7217d785101939e51fa0b6 │ J. Gay                │
│ b1fffbc9f852f1dc43b792ac6cdaac87 │ Gareth Stenner        │
│ 409d4b2932ced8aaa07f3605e9a5e9e0 │ Edon Gnuse            │
│ da3717a441fedc3bf656ea404382127b │ John R. McPherson     │
│ eb0c49e27341778e4561dc661460004b │ Paul A. Allaire       │
│ 3305cf5d8db8248177e009315eaefd3f │ Paul A. Frost         │
│ 936c52aa61f40811b0e79ab43cbe3a4b │ J. Katsube            │
│ 0199eae6b3c6f152874c636fa91e85e8 │ Michael R. Coffman    │
├──────────────────────────────────┴───────────────────────┤
│ 235 rows (20 shown)                            2 columns │
└──────────────────────────────────────────────────────────┘

In [16]:
# create locations dimension
# type 2 dimensions - change slow
# insert only
# primary keys
sql = f"""

CREATE OR REPLACE TABLE {schema}.locations (
    location_id VARCHAR,
    zipcode VARCHAR,
    latitude DOUBLE,
    longitude DOUBLE,
    PRIMARY KEY (location_id)
);

"""

sql += f"""
INSERT INTO {schema}.locations (location_id, zipcode, latitude, longitude)

SELECT DISTINCT
    MD5(COALESCE(zip || CAST(lat AS VARCHAR) || CAST(lon AS VARCHAR), '-1')),
    zip,
    lat,
    lon
FROM
    raw_companies;

"""

con.sql(sql)

In [17]:
# create companies dimension
# normalization benefits

sql = f"""

CREATE OR REPLACE TABLE {schema}.companies (
    company_id VARCHAR,
    company_name VARCHAR,
    cusip_id VARCHAR,
    ceo_id VARCHAR,
    founding_year INTEGER,
    ownership_type VARCHAR,
    exit_type VARCHAR,
    exit_comment VARCHAR,
    location_id VARCHAR,
    PRIMARY KEY (company_id)
    
);

"""

sql += f"""

INSERT INTO {schema}.companies (company_id, company_name, cusip_id, ceo_id, founding_year, ownership_type, exit_type, exit_comment, location_id)

SELECT DISTINCT
    MD5(COALESCE(   COALESCE(firmname, '-1') ||
                    COALESCE(CAST(CUSIPHEADERID AS VARCHAR),'-1')||
                    COALESCE(CAST(firmid AS VARCHAR),'-1')||
                    COALESCE(CAST(found AS VARCHAR),'-1') ||
                    COALESCE(CAST(own AS VARCHAR),'-1') ||
                    COALESCE(CAST(fate AS VARCHAR),'-1') ||
                    COALESCE(CAST(estate AS VARCHAR),'-1') ||
                    COALESCE(ceo,'-1') ||
                    COALESCE(zip,'-1')
                    , '-1')) as id,
    firmname,
    MD5(COALESCE(CUSIPHEADERID || CUSIPHEADERNAME || CUSIPHISTORYID || CUSIPHISTORYNAME, '-1')),
    MD5(COALESCE(ceo, '-1')),
    found,
    CASE own
        WHEN 0 THEN 'Private'
        WHEN 1 THEN 'Public'
        WHEN 2 THEN 'Subsidiary'
        ELSE NULL END,
    CASE estate
        WHEN 0 THEN 'Censored'
        WHEN 1 THEN 'Exited market'
        WHEN 2 THEN 'Acquired'
        WHEN 3 THEN 'Spun off'
        WHEN 4 THEN 'Changed Name'
        ELSE NULL END,
    fate,
     MD5(COALESCE(zip || CAST(lat AS VARCHAR) || CAST(lon AS VARCHAR), '-1'))
    
FROM
    raw_companies

    ;
"""

con.sql(sql)

In [18]:
# create product_offerings dimension
# what is a fact vs. a dimension
# CTE
sql = f"""

CREATE OR REPLACE TABLE {schema}.product_offerings (
    product_offering_id VARCHAR,
    product_types_offered VARCHAR,
    PRIMARY KEY (product_offering_id)
);

"""

sql += f"""

INSERT INTO {schema}.product_offerings (product_offering_id, product_types_offered)

WITH po AS (
     SELECT
        CASE
            WHEN system = 1 AND graphic = 0 THEN 'Desktop systems'
            WHEN system = 0 AND graphic = 1 THEN 'Graphics systems'
            WHEN system = 1 AND graphic = 1 THEN 'Desktop + Graphics systems'
            ELSE NULL END as offering

    from raw_companies
)
SELECT DISTINCT
    MD5(COALESCE(offering, '-1')),
    offering    
FROM
    po;
"""

con.sql(sql)

In [19]:
# create integration dimension
# type 4 dimension - change fast
sql = f"""

CREATE OR REPLACE TABLE {schema}.integrations (
   integration_id VARCHAR,
    cpu_source VARCHAR,
    os_source VARCHAR,
    application_source VARCHAR,
    communications_hardware_source VARCHAR,
    disk_source VARCHAR,
    ram_source VARCHAR,
    motherboard_source VARCHAR,
    PRIMARY KEY (integration_id)
);

"""

sql += f"""
INSERT INTO {schema}.integrations
(
    integration_id, 
    cpu_source, 
    os_source, 
    application_source, 
    communications_hardware_source, 
    disk_source, 
    ram_source, 
    motherboard_source
)

SELECT DISTINCT
    MD5(
        CASE WHEN cpu = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN os = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN apps = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN comm = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN disk = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN memory = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN board = 0 THEN 'Bought' ELSE 'Produced' END
    ), 
    CASE WHEN cpu = 0 THEN 'Bought' ELSE 'Produced' END,
    CASE WHEN os = 0 THEN 'Bought' ELSE 'Produced' END,
    CASE WHEN apps = 0 THEN 'Bought' ELSE 'Produced' END,
    CASE WHEN comm = 0 THEN 'Bought' ELSE 'Produced' END,
    CASE WHEN disk = 0 THEN 'Bought' ELSE 'Produced' END,
    CASE WHEN memory = 0 THEN 'Bought' ELSE 'Produced' END,
    CASE WHEN board = 0 THEN 'Bought' ELSE 'Produced' END
FROM
    raw_companies;


"""

con.sql(sql)

In [20]:
### create years table by dynamically assigning values ###

# integer values as key which helps with partitioning.
# date table's grain goes, other date information
# CTAS

sql = """
CREATE OR REPLACE TABLE snow.years AS

WITH RECURSIVE years AS (
    SELECT 1970 as year
    UNION ALL
    SELECT year + 1
    FROM years
    WHERE year < 2000
)
SELECT 
    year,
    CASE 
        WHEN MOD(year - 1970, 12) = 0 THEN 'Dog'
        WHEN MOD(year - 1970, 12) = 1 THEN 'Pig'
        WHEN MOD(year - 1970, 12) = 2 THEN 'Rat'
        WHEN MOD(year - 1970, 12) = 3 THEN 'Ox'
        WHEN MOD(year - 1970, 12) = 4 THEN 'Tiger'
        WHEN MOD(year - 1970, 12) = 5 THEN 'Rabbit'
        WHEN MOD(year - 1970, 12) = 6 THEN 'Dragon'
        WHEN MOD(year - 1970, 12) = 7 THEN 'Snake'
        WHEN MOD(year - 1970, 12) = 8 THEN 'Horse'
        WHEN MOD(year - 1970, 12) = 9 THEN 'Sheep'
        WHEN MOD(year - 1970, 12) = 10 THEN 'Monkey'
        WHEN MOD(year - 1970, 12) = 11 THEN 'Rooster'
    END as zodiac_type
FROM years;
"""

con.sql(sql)

In [21]:
# display the snow.years table
con.table('snow.years')

┌───────┬─────────────┐
│ year  │ zodiac_type │
│ int32 │   varchar   │
├───────┼─────────────┤
│  1970 │ Dog         │
│  1971 │ Pig         │
│  1972 │ Rat         │
│  1973 │ Ox          │
│  1974 │ Tiger       │
│  1975 │ Rabbit      │
│  1976 │ Dragon      │
│  1977 │ Snake       │
│  1978 │ Horse       │
│  1979 │ Sheep       │
│    ·  │   ·         │
│    ·  │   ·         │
│    ·  │   ·         │
│  1991 │ Sheep       │
│  1992 │ Monkey      │
│  1993 │ Rooster     │
│  1994 │ Dog         │
│  1995 │ Pig         │
│  1996 │ Rat         │
│  1997 │ Ox          │
│  1998 │ Tiger       │
│  1999 │ Rabbit      │
│  2000 │ Dragon      │
├───────┴─────────────┤
│ 31 rows (20 shown)  │
└─────────────────────┘

### making the fact table

In [22]:
# create workstation_sales table
# additive facts vs. non-additive

sql = f"""

CREATE OR REPLACE TABLE {schema}.workstation_sales (
   year_id INTEGER,
    company_id VARCHAR,
    integration_id VARCHAR,
    product_offering_id VARCHAR,
    sales DOUBLE,
    research_budget DOUBLE,
    employee_count DOUBLE,
    product_offering_count INTEGER,
    product_category_count INTEGER,
);

"""

con.sql(sql)

sql += f"""

INSERT INTO {schema}.workstation_sales 
   (year_id,
    company_id ,
    integration_id ,
    product_offering_id ,
    sales ,
    research_budget ,
    employee_count ,
    product_offering_count ,
    product_category_count
    )

SELECT
    year,
    MD5(COALESCE(   COALESCE(firmname, '-1') ||
                    COALESCE(CAST(CUSIPHEADERID AS VARCHAR),'-1')||
                    COALESCE(CAST(firmid AS VARCHAR),'-1')||
                    COALESCE(CAST(found AS VARCHAR),'-1') ||
                    COALESCE(CAST(own AS VARCHAR),'-1') ||
                    COALESCE(CAST(fate AS VARCHAR),'-1') ||
                    COALESCE(CAST(estate AS VARCHAR),'-1') ||
                    COALESCE(ceo,'-1') ||
                    COALESCE(zip,'-1')
                    , '-1')) as id,

    MD5(
        CASE WHEN cpu = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN os = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN apps = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN comm = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN disk = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN memory = 0 THEN 'Bought' ELSE 'Produced' END || 
        CASE WHEN board = 0 THEN 'Bought' ELSE 'Produced' END
    ),
    
    MD5(COALESCE(
        CASE
            WHEN system = 1 AND graphic = 0 THEN 'Desktop systems'
            WHEN system = 0 AND graphic = 1 THEN 'Graphics systems'
            WHEN system = 1 AND graphic = 1 THEN 'Desktop + Graphics systems'
            ELSE NULL END,
        '-1'
    )),
    
    sales,
    randd,
    employ,
    products,
    ptypes
    
    
FROM
    raw_companies
    ;

"""

con.sql(sql)

In [23]:
# con.sql('select count(*) from workstation_snowflake.workstation_sales a join workstation_snowflake.companies b on a.company_id = b.company_id')

# con.sql('select count(*) from workstation_snowflake.workstation_sales a join workstation_snowflake.integrations b on a.integration_id = b.integration_id')

# con.sql('select count(*) from workstation_snowflake.companies') # 388

# con.sql("select 'locations', count(*) from workstation_snowflake.companies c join workstation_snowflake.locations l on c.location_id = l.location_id")

con.sql("select 'locations', count(*) from snow.companies c join snow.compustat s on c.cusip_id = s.cusip_id")

# con.sql("select 'locations', count(*) from workstation_snowflake.companies c join workstation_snowflake.ceos s on c.ceo_id = s.ceo_id")

# con.sql('select company_name, c.location_id, l.location_id from workstation_snowflake.companies c left join workstation_snowflake.locations l on c.location_id = l.location_id')

# con.sql('select count(*) from raw_companies')

┌─────────────┬──────────────┐
│ 'locations' │ count_star() │
│   varchar   │    int64     │
├─────────────┼──────────────┤
│ locations   │          388 │
└─────────────┴──────────────┘

## A star data model

Steps of Kimball dimensional modeling:

1. Select the business process
2. Declare the grain
3. Identify the dimensions
4. Identify the facts

![](star.png)

In [24]:
# update schema
schema = 'star'

In [25]:
# make new companies attribute which contains
# pros/cons of denormalizing to star
sql = f"""

CREATE OR REPLACE TABLE {schema}.companies (
       company_id VARCHAR,
    company_name VARCHAR,
    cusip_id VARCHAR,
    cusip_name VARCHAR,
    cusip_historical_id VARCHAR,
    cusip_historical_name VARCHAR,
    ceo_name VARCHAR,
    founding_year INTEGER,
    ownership_type VARCHAR,
    exit_type VARCHAR,
    exit_comment VARCHAR,
    zipcode VARCHAR,
    latitude DOUBLE,
    longitude DOUBLE,
    PRIMARY KEY (company_id),
);

"""

con.sql(sql)

sql += f"""

INSERT INTO {schema}.companies (
    company_id ,
    company_name ,
    cusip_id ,
    cusip_name ,
    cusip_historical_id ,
    cusip_historical_name ,
    ceo_name ,
    founding_year ,
    ownership_type ,
    exit_type ,
    exit_comment ,
    zipcode ,
    latitude ,
    longitude )

SELECT DISTINCT
    MD5(COALESCE(   COALESCE(firmname, '-1') ||
                    COALESCE(CAST(CUSIPHEADERID AS VARCHAR),'-1')||
                    COALESCE(CAST(firmid AS VARCHAR),'-1')||
                    COALESCE(CAST(found AS VARCHAR),'-1') ||
                    COALESCE(CAST(own AS VARCHAR),'-1') ||
                    COALESCE(CAST(fate AS VARCHAR),'-1') ||
                    COALESCE(CAST(estate AS VARCHAR),'-1') ||
                    COALESCE(ceo,'-1') ||
                    COALESCE(zip,'-1')
                    , '-1')) as id,
    firmname,
    CUSIPHEADERID,
    CUSIPHeaderName,
    CUSIPHISTORYID,
    CUSIPHistoryName,
    ceo,
    found,
    CASE own
        WHEN 0 THEN 'Private'
        WHEN 1 THEN 'Public'
        WHEN 2 THEN 'Subsidiary'
        ELSE NULL END,
    CASE estate
        WHEN 0 THEN 'Censored'
        WHEN 1 THEN 'Exited market'
        WHEN 2 THEN 'Acquired'
        WHEN 3 THEN 'Spun off'
        WHEN 4 THEN 'Changed Name'
        ELSE NULL END,
    fate,
    ZIP,
    lat,
    lon
    
FROM
    raw_companies;
"""

con.sql(sql)

In [26]:
# inner join the count of snow.workstation_sales to star.companies by company ID
con.sql("""
select count(*) 
    from snow.workstation_sales a 
    join star.companies b 
        on a.company_id = b.company_id
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│          682 │
└──────────────┘

### Some query testing

In [27]:
# Select the zipcode and sum of sales 
# from snow.workstation_sales
# inner join to snow.companies on company ID
# inner join to snow.locations on location ID
# group by 1st column
# order by 2nd column in descending order
con.sql("""
select zipcode, sum(sales) 
    from snow.workstation_sales a 
    join snow.companies c 
        on a.company_id=c.company_id
    join snow.locations l 
        on c.location_id=l.location_id
    group by 1 
    order by 2 desc
""")

┌─────────┬────────────────┐
│ zipcode │   sum(sales)   │
│ varchar │     double     │
├─────────┼────────────────┤
│ 10504   │ 598003998720.0 │
│ 45479   │ 154701496704.0 │
│ 94304   │ 141994998272.0 │
│ 01754   │ 132260221440.0 │
│ 95054   │ 121301996099.0 │
│ 14650   │  95705997312.0 │
│ 01821   │  81184972152.0 │
│ 95134   │  67506182944.0 │
│ 07660   │  48000000000.0 │
│ 95008   │  36615437056.0 │
│   ·     │             ·  │
│   ·     │             ·  │
│   ·     │             ·  │
│ 03060   │            1.0 │
│ 15276   │            1.0 │
│ 97006   │            1.0 │
│ 27709   │           NULL │
│ 94577   │           NULL │
│ 92803   │           NULL │
│ 97124   │           NULL │
│ 94063   │           NULL │
│ 19380   │           NULL │
│ 77094   │           NULL │
├─────────┴────────────────┤
│   156 rows (20 shown)    │
└──────────────────────────┘

In [28]:
# Select the zipcode and sum of sales 
# from snow.workstation_sales
# inner join to snow.companies on company ID
# group by 1st column
# order by 2nd column in descending order
con.sql("""
select zipcode, sum(sales) 
from snow.workstation_sales a 
join star.companies c on a.company_id=c.company_id
group by 1 order by 2 desc""")

┌─────────┬────────────────┐
│ zipcode │   sum(sales)   │
│ varchar │     double     │
├─────────┼────────────────┤
│ 10504   │ 598003998720.0 │
│ 45479   │ 154701496704.0 │
│ 94304   │ 141994998272.0 │
│ 01754   │ 132260221440.0 │
│ 95054   │ 121301996099.0 │
│ 14650   │  95705997312.0 │
│ 01821   │  81184972152.0 │
│ 95134   │  67506182944.0 │
│ 07660   │  48000000000.0 │
│ 95008   │  36615437056.0 │
│   ·     │             ·  │
│   ·     │             ·  │
│   ·     │             ·  │
│ 70503   │            1.0 │
│ 90260   │            1.0 │
│ 94608   │            1.0 │
│ 92803   │           NULL │
│ 97124   │           NULL │
│ 94063   │           NULL │
│ 19380   │           NULL │
│ 77094   │           NULL │
│ 27709   │           NULL │
│ 94577   │           NULL │
├─────────┴────────────────┤
│   156 rows (20 shown)    │
└──────────────────────────┘

In [29]:
%%timeit -n 10

con.sql("""
select zipcode, sum(sales) 
from snow.workstation_sales a 
join snow.companies c on a.company_id=c.company_id
join snow.locations l on c.location_id=l.location_id
group by 1 order by 2 desc""")

165 µs ± 28.3 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [30]:
%%timeit -n 10

con.sql("""
select zipcode, sum(sales) 
from snow.workstation_sales a 
join star.companies c on a.company_id=c.company_id
group by 1 order by 1 desc""")

139 µs ± 13.2 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)